<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goMore()"><img src="../../assets/img/menu.png" width="20"></ion-button>
    </ion-buttons>
    <ion-title>
      Cart
    </ion-title>

    <ion-buttons slot="end" class="head-icon">
<!--      <ion-button class="link home">-->
<!--        <img src="../../assets/img/noti.png" width="20">-->
<!--      </ion-button>-->
      <ion-button class="link home cart" (click)="goToCart()">
        <img src="../../assets/img/cart.png" width="24">
<!--        <span class="num-cart">5</span>-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cart">

  <ion-list class="list-cart">

    <!-- single-cart -->
    <ion-item class="single-cart" *ngFor="let x of all?.items; let i = index">
      <ion-thumbnail slot="start">
        <img src="{{x.product_image}}">

      </ion-thumbnail>

      <div class="content-cart">
        <h5 class="productName" *ngIf="gloable.language_id != '2'"> {{x.product_name}} </h5>
        <h5 class="productName" *ngIf="gloable.language_id == '2'"> {{x.product_name_en}} </h5>
        <h5 class="price"> SAR {{x.price}} </h5>

        <div class="qyt">
          <span class="btn-num" (click)="dec(i,x.product_id)"> <img src="../../../assets/img/minus.png" width="12"> </span>
          <span class="num">{{count[i]}}</span>
          <span class="btn-num"  (click)="inc(i,x.product_id)"> <img src="../../../assets/img/plus.png" width="12"></span>
        </div>

        <div class=" delete" (click)="remove(x.id)">
          <ion-icon style="margin-right: 147px;" name="close"></ion-icon>
        </div>

      </div>
    </ion-item>



  </ion-list>


<ion-footer class="bottom">

<!--  shipping: 28-->
<!--  sub_total: 3588-->
<!--  total: 3616-->
  <ion-row class="bold">
      <ion-col size="6">
          <ion-label class="total">{{lang.mainlang.cart.subtotal}}</ion-label>
      </ion-col>
      <ion-col size="6">
          <ion-label class="price ">SAR {{all?.sub_total}}</ion-label>
      </ion-col>
  </ion-row>
  <ion-row class="bold">
      <ion-col size="6">
          <ion-label class="total">{{lang.mainlang.cart.ship}}</ion-label>
      </ion-col>
      <ion-col size="6">
          <ion-label class="price ">SAR {{all?.shipping}}</ion-label>
      </ion-col>
  </ion-row>
  <ion-row class="bold">
      <ion-col size="6">
          <ion-label class="total">{{lang.mainlang.cart.total}}</ion-label>
      </ion-col>
      <ion-col size="6">
          <ion-label class="price ">SAR {{all?.total}}</ion-label>
      </ion-col>
  </ion-row>

<ion-row>
    <ion-col size="12">
         <!-- button submit -->
         <ion-button class="submit" shape="round" [disabled]="all?.items?.length == 0" (click)="chekout()">{{lang.mainlang.cart.checkout1}}</ion-button>
    </ion-col>

</ion-row>
</ion-footer>

</ion-content>
