

.cart{
  
    .list-cart{
        margin: 0;
        padding-top: 4px;
        background: var(--ion-item-background, var(--ion-background-color, #fff));
        .single-cart{
            --padding-start: 6px;
            --background: var(--ion-item-background,var(--ion-background-color,#fff));
            --background-activated: #fff;
            --background-focused: var(--ion-item-background-activated,#f5f5f5);
            --border-color: var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,#ddd)));
            --padding-end: 0;
            box-shadow: 2px 2px 4px #f5f5f5, -2px -2px 4px #f5f5f5;
            padding: 1px;
            --border-radius: 5px;
            margin:0px 10px 10px;
            position: relative;

            ion-thumbnail{
                width: 66px;
                height: 95px;
                margin: 5px;

            }
            .content-cart{
                width: 100%;
                padding: 6px 10px 0;
                position: relative;
    
                .productName{
                    font-size: 16px;
                    color: #4f4f4f;
                    margin:0px 0px 0px;
                }
                .qyt{
                    float: left;
                    margin-top: 6px;
                    background-color: #ffffff;
                    border: 1px solid #D3D8D8;
                    margin-bottom: 7px;
                    border-radius: 7px;
                    .btn-num{
                        float: right;
                        font-size: 16px;
                        border-radius: 0;
                        width: 40px;
                        height: 26px;
                        line-height: 26px;
                        text-align: center;
                        display: inline-block;
                        color: #000;
                        border-left: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                    }
                    .num{
                        float: right;
                        width: 25px;
                        text-align: center;
                        margin-top: 0px;
                    }
                }
               
        
                .price{
                    font-size: 15px !important;
                    margin:7px 0!important;
                    color: #444;
                }

              
               .delete{
                   position: absolute;
                   right:0px;
                   top:5px;
                   ion-icon{
                       color:red;
                       font-size: 24px;
                   }
               }
    
            }
    
           
        }
    }

    .bottom{
        position: fixed;
    width: 100%;
    bottom: 0;
    left: 0px;
    right: 0px;
    padding-top: 9px;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    border-top: 0;

        .bold{
            font-size: 17px;
            .price{
                color:#3455a7
            }
        }

    }
}
