:host {
  ion-content {
    //--background:url(../../../assets/img/backlogo.png) 51% 49% no-repeat!important;
  }
}
.ion-color-tertiary{
  --ion-color-base: #eeeeee !important;

}


.list-md,.list-ios{
  margin-bottom: 10px;
  border-radius: 7px;
  padding: 0px;
  margin: 8px 20px 8px 10px;
  // margin: 15px;
  // box-shadow: 5px 5px 5px #eeeeee,-5px -5px 5px #eeeeee
}

ion-list{
  img{
    // width: 30px;
    margin-left: 10px;
    margin-right: 10px
  }
  ion-label{
    font-size: 16px !important;
    border-bottom: 1px solid;
    border-bottom-color: #cbced0;
    padding: 4px 0;
    color: #616977;
  }
}
.link-account{
  text-align: center;
  .link{
    margin: 0px auto;
    color:#FF6969
  }
}
.iconstyle{
  font-size: 22px;
  margin-left: 10px;
  margin-bottom: -2px;
}


