<ion-header  >
  <ion-toolbar color="tertiary">
<!--    <ion-buttons slot="start">-->
<!--      <ion-button (click)="goToMore()"><img src="../../../assets/img/menu.png" width="20"></ion-button>-->
<!--    </ion-buttons>-->
    <ion-title *ngIf="gloable.language_id=='2'"> Menu</ion-title>
    <ion-title *ngIf="gloable.language_id=='1'"> القائمة</ion-title>

<!--    <ion-buttons slot="end" class="head-icon">-->
<!--      <ion-button class="link home" (click)="back()">-->
<!--        <img src="../../../assets/img/back.png" width="20" >-->
<!--      </ion-button>-->


<!--    </ion-buttons>-->

  </ion-toolbar>
</ion-header>

<ion-content class="setting">

  <ion-list>

    <ion-item   (click)="gotourl('tabs/tab1')">
      <ion-label *ngIf="gloable.language_id=='2'">
        <!--        <ion-icon style="margin-left: 5px;margin-right: 5px" name="notifications-outline"></ion-icon>-->
        <ion-icon  class="iconstyle" name="home"></ion-icon>
        Home
      </ion-label>
       <ion-label *ngIf="gloable.language_id=='1'">
        <!--        <ion-icon style="margin-left: 5px;margin-right: 5px" name="notifications-outline"></ion-icon>-->
        <ion-icon  class="iconstyle" name="home"></ion-icon>
        الرئيسية
      </ion-label>

    </ion-item>

<!--    <ion-item  detail="false" (click)="gotourl('tabs/tab2')">-->
<!--      <ion-label>-->
<!--        <ion-icon class="iconstyle"  name="list-outline"></ion-icon>-->
<!--        Cat-->

<!--      </ion-label>-->
<!--    </ion-item>-->

<!--    <ion-item  detail="false" (click)="gotourl('tabs/tab4')">-->
<!--      <ion-label>-->
<!--        <ion-icon class="iconstyle" name="list-circle-outline"></ion-icon>-->
<!--        {{lang.mainlang.menu.res}}-->


<!--      </ion-label>-->
<!--    </ion-item>-->

    <ion-item *ngIf="this.gloable.login == '1'"  (click)="gotourl('tabs/tab3')">
      <ion-label *ngIf="gloable.language_id=='2'">
        <ion-icon class="iconstyle" name="bookmarks-outline"></ion-icon>
        Favorite

      </ion-label>


      <ion-label *ngIf="gloable.language_id=='1'">
        <ion-icon class="iconstyle" name="bookmarks-outline"></ion-icon>
        المفضلة

      </ion-label>
    </ion-item>

    <ion-item *ngIf="this.gloable.login == '1'"  (click)="gotourl('products')">
      <ion-label *ngIf="gloable.language_id=='2'">
        <ion-icon class="iconstyle" name="bookmarks-outline"></ion-icon>
        Products

      </ion-label>


      <ion-label *ngIf="gloable.language_id=='1'">
        <ion-icon class="iconstyle" name="bookmarks-outline"></ion-icon>
        المنتجات

      </ion-label>
    </ion-item>


    <ion-item *ngIf="this.gloable.login == '1'"   (click)="gotourl('tabs/tab5')">
      <ion-label *ngIf="gloable.language_id=='2'">
        <ion-icon class="iconstyle" name="cart-outline"></ion-icon>
        Cart

      </ion-label>
      <ion-label *ngIf="gloable.language_id=='1'">
        <ion-icon class="iconstyle" name="cart-outline"></ion-icon>
        السله

      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.gloable.login == '1'"  (click)="gotourl('tabs/tab2')">
      <ion-label *ngIf="gloable.language_id=='2'">
        <ion-icon class="iconstyle" name="reorder-four-outline"></ion-icon>
       My Orders

      </ion-label>
      <ion-label *ngIf="gloable.language_id=='1'">
        <ion-icon class="iconstyle" name="reorder-four-outline"></ion-icon>
       الاوردات

      </ion-label>
    </ion-item>
    <ion-item  *ngIf="this.gloable.login == '1'" (click)="gotourl('edit')">
      <ion-label *ngIf="gloable.language_id=='2'">
        <ion-icon  class="iconstyle" name="people-circle-outline"></ion-icon>
        MyProfile

      </ion-label>
      <ion-label *ngIf="gloable.language_id=='1'">
        <ion-icon  class="iconstyle" name="people-circle-outline"></ion-icon>
        الملف الشخصي

      </ion-label>
    </ion-item>

<!--    <ion-item *ngIf="gloable.login == '1'"  detail="false" (click)="langchange()">-->
<!--      <ion-label>-->
<!--        <ion-icon class="iconstyle" name="language"></ion-icon>-->
<!--        {{lang.mainlang.menu.lang}}-->

<!--      </ion-label>-->
<!--    </ion-item>-->

    <ion-item   (click)="gotourl('register')" *ngIf="this.gloable.login != '1'">
      <ion-label *ngIf="gloable.language_id=='2'">
        <ion-icon  class="iconstyle" name="person-add-outline"></ion-icon>
        register

      </ion-label>

      <ion-label *ngIf="gloable.language_id=='1'">
        <ion-icon  class="iconstyle" name="person-add-outline"></ion-icon>
        عضوية جديدة

      </ion-label>
    </ion-item>

    <ion-item  (click)="gotourl('login')" *ngIf="this.gloable.login != '1'">
      <ion-label *ngIf="gloable.language_id=='2'">
        <ion-icon  class="iconstyle" name="log-in-outline"></ion-icon>
        Login

      </ion-label>
      <ion-label *ngIf="gloable.language_id=='1'">
        <ion-icon  class="iconstyle" name="log-in-outline"></ion-icon>
        تسجيل دخول

      </ion-label>
    </ion-item>

<ion-item  (click)="changelang('1')" *ngIf="this.gloable.language_id =='2'">
      <ion-label>
        <ion-icon  class="iconstyle" name="language-outline"></ion-icon>
        عربي
      </ion-label>
    </ion-item>

    <ion-item  (click)="changelang('2')" *ngIf="this.gloable.language_id =='1'">
      <ion-label>
        <ion-icon  class="iconstyle" name="language-outline"></ion-icon>
        English
      </ion-label>
    </ion-item>


    <ion-item  *ngIf="this.gloable.login == '1'"  (click)="gotourl('logout')">
      <ion-label *ngIf="gloable.language_id=='2'">
        <ion-icon class="iconstyle" name="log-out"></ion-icon>
       Logout

      </ion-label>

      <ion-label *ngIf="gloable.language_id=='١'">
        <ion-icon class="iconstyle" name="log-out"></ion-icon>
        تسجيل خروج

      </ion-label>
    </ion-item>
    <!--    <ion-item *ngIf="gloable.login == '1'"  detail="false" (click)="gotourl('logout')">-->
    <!--      <ion-label>-->
    <!--        <ion-icon class="iconstyle" name="log-out"></ion-icon>-->
    <!--        {{lang.mainlang.menu.curr}}-->

    <!--      </ion-label>-->
    <!--    </ion-item>-->

<!--    <ion-item  detail="false" (click)="gotourl('login')">-->
<!--      <ion-label>-->
<!--        <ion-icon class="iconstyle" name="log-out"></ion-icon>-->
<!--       Login-->

<!--      </ion-label>-->
<!--    </ion-item>-->



  </ion-list>


  <!--  <app-explore-container *ngIf="flag == 0"></app-explore-container>-->


</ion-content>

