<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button   (click)="back()"><img src="../../../assets/img/back@3x.png" width="20"></ion-button>
    </ion-buttons>
    <ion-title>
      {{lang.mainlang.checkout.title}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="cart-content cart"  [ngClass]="cart">
  <div class="logo">
    <img src="../../../assets/img/logo.png">
  </div>

  <ion-list>
  <ion-row>
    <ion-col style="background-color: white;">
      <ion-select placeholder=" {{lang.mainlang.checkout.titlead}} " (ionChange)="adress($event)" [(ngModel)]="data.address_id">
        <ion-select-option  value="-1">{{lang.mainlang.checkout.titlead1}}</ion-select-option>
        <ion-select-option *ngFor="let x of all" value="{{x.id}}">{{x.country_name_en + " /  " + x.region + " /  " + x.address }}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
</ion-list>


<!--  address_address_1: "ش الجلاء"-->
<!--  address_address_2: "البيت رقم ٣"-->
<!--  address_city: "ييي"-->
<!--  address_company: ""-->
<!--  address_first_name: "حازم حمدي طه"-->
<!--  address_last_name: ""-->
<!--  address_post_code: "٢٣٤٤٣٣"-->
<!--  country_id: 2-->
<!--  country_name: "السعوديه العربيه"-->
<!--  customer_id: 14-->
<!--  id: 10-->
<!--  region_id: 2-->
<!--  region_name: "جدة"-->


<!--  address: "ffff"-->
<!--  client_id: 5554-->
<!--  country_id: 2-->
<!--  country_name: "الولايات المتحدة الأمريكية"-->
<!--  country_name_en: "USA"-->
<!--  id: 5769-->
<!--  is_main: 1-->
<!--  region: "fff"-->
<!--  shipping_method_id: 1-->
  <ion-list style="padding-top: 40px;margin-bottom: 120px" *ngIf="all1 != null">
<!--    <ion-item class="listc">-->
<!--      <ion-label>-->
<!--       اسم : {{all1?.address_first_name}}-->
<!--      </ion-label>-->
<!--    </ion-item>-->

    <ion-item class="listc">
      <ion-label>

      Address : {{all1?.address}}
      </ion-label>
    </ion-item>
<!--    <ion-item class="listc">-->
<!--      <ion-label>-->

<!--      عنوان2 : {{all1?.address_address_2}}-->
<!--      </ion-label>-->
<!--    </ion-item>-->


    <ion-item class="listc">
      <ion-label>

        Region : {{all1?.region}}
      </ion-label>
    </ion-item>

    <ion-item class="listc">
      <ion-label>

        Country : {{all1?.country_name_en}}
      </ion-label>
    </ion-item>
  </ion-list>
  <!--    amount: 1-->
  <!--    create_date_time: "2021-01-31 00:27:08"-->
  <!--    customer_id: 14-->
  <!--    id: 6-->
  <!--    price: 500-->
  <!--    product_id: 8-->
  <!--    product_image: "https://evently.sa/panel/../_per_files/outfiles/products/3456eaadee86f3d521e73da2c3b3c9c5.png"-->
  <!--    product_name: "Girls 3"-->
  <!--    ship_cost: 165-->
  <!--    ship_type: 1-->
  <!--    total_price: 500-->
<!--  <ion-list class="list-cart">-->

<!--    &lt;!&ndash;start single-cart  &ndash;&gt;-->
<!--    <ion-item class="single-cart" *ngFor="let x of all?.items">-->
<!--      <ion-thumbnail slot="start">-->
<!--        <img src="{{x.product_image}}" src-fallback="{{ placeholder }}">-->
<!--      </ion-thumbnail>-->

<!--      <div class="content-cart">-->
<!--        <h5 class="productName">{{x.product_name}}</h5>-->

<!--        <div class="productPrice">-->
<!--          <span class="new">{{x.price}}</span>-->
<!--          &lt;!&ndash;            <span class="old">600 $</span>&ndash;&gt;-->
<!--        </div>-->

<!--        &lt;!&ndash;          <ion-row>&ndash;&gt;-->
<!--        &lt;!&ndash;            <ion-col size="7">&ndash;&gt;-->
<!--        &lt;!&ndash;              <div class="rate">&ndash;&gt;-->
<!--        &lt;!&ndash;                <img src="../../assets/img/star-icon-active.png">&ndash;&gt;-->
<!--        &lt;!&ndash;                <img src="../../assets/img/star-icon-active.png">&ndash;&gt;-->
<!--        &lt;!&ndash;                <img src="../../assets/img/star-icon-active.png">&ndash;&gt;-->
<!--        &lt;!&ndash;                <img src="../../assets/img/star-icon.png">&ndash;&gt;-->
<!--        &lt;!&ndash;                <img src="../../assets/img/star-icon.png">&ndash;&gt;-->
<!--        &lt;!&ndash;              </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </ion-col>&ndash;&gt;-->
<!--        &lt;!&ndash;            <ion-col>&ndash;&gt;-->
<!--        &lt;!&ndash;              <div class="size"> Size : <span>L</span></div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </ion-col>&ndash;&gt;-->
<!--        &lt;!&ndash;          </ion-row>&ndash;&gt;-->

<!--        <ion-row>-->
<!--          <ion-col size="7">-->
<!--            <div class="qyt">-->
<!--              <span class="btn-num" (click)="removetocart(x.product_id,x.amount)"> <ion-icon name="remove"></ion-icon> </span>-->
<!--              <span class="num">{{x.amount}}</span>-->
<!--              <span class="btn-num" (click)="addtocart(x.product_id,x.amount)"> <ion-icon name="add"></ion-icon></span>-->
<!--            </div>-->
<!--          </ion-col>-->
<!--          <ion-col>-->
<!--            <div (click)="removeall(x.id)" class="delete"><img src="../../../assets/img/delete-icon.png" width="18">         {{lang.mainlang.cart.delete}}-->
<!--            </div>-->
<!--          </ion-col>-->
<!--        </ion-row>-->

<!--      </div>-->
<!--    </ion-item>-->
<!--    &lt;!&ndash;end single-cart &ndash;&gt;-->




<!--  </ion-list>-->


  <ion-footer class="bottom">

    <ion-list class="list-price">

      <hr>
      <ion-row>
        <ion-col >
          <!-- button submit -->
          <ion-button color="primary" shape="round"  [disabled]="!data.address_id"  (click)="checkout()" expand="full" class="submit"  >         {{lang.mainlang.cart.checkout}}
          </ion-button>
        </ion-col>
<!--        <ion-col >-->
<!--          &lt;!&ndash; button submit &ndash;&gt;-->
<!--          <ion-button color="danger" shape="round" (click)="back()" expand="full" class="submit"  >         {{lang.mainlang.cart.contain}}-->
<!--          </ion-button>-->
<!--        </ion-col>-->
      </ion-row>



    </ion-list>
  </ion-footer>

</ion-content>
