

.cart-content.cart{
  --padding-start: var(--ion-padding, 0px)!important;
  --padding-end: var(--ion-padding, 0px)!important;
  --padding-top: var(--ion-padding, 0px)!important;
  --padding-bottom: var(--ion-padding, 0px)!important;
  padding: var(--ion-padding, 0px) !important;
  --background: var(--ion-background-color,transparent);
  --ion-item-background: transparent;

  .num{
    margin: 0 10px;
    color:#323232
  }

  .list-cart{
    margin: 0;
    margin-bottom: 211px;
    background: var(--ion-item-background,var(--ion-background-color,transparent));
    .single-cart{
      --padding-start: 0;
      --background: var(--ion-item-background,var(--ion-background-color,#fff));
      --background-activated: #fff;
      --background-focused: var(--ion-item-background-activated,#f5f5f5);
      --border-color: var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,#ddd)));
      --padding-end: 0;
      /* margin: 6px 5px 8px; */
      padding: 1px;
      --ion-item-background: #fff;
      margin: 5px;

      ion-thumbnail{
        width: 82px;
        height: 118px;
        margin: 0 0px 0 0;

      }
      .content-cart{
        width: 100%;
        padding: 6px 10px 0;

        .productName{
          color:#323232;
          font-size: 16px!important;
          font-weight: bold;
          margin: 3px 0 0;
        }
        .productPrice{
          font-size: 16px;
          margin-bottom: 0px;
          margin-top: 5px;
          .new{
            color:#1B325E;
            font-weight: bold;
          }
          .old{
            text-decoration: line-through;
            color: #6C757D;
            margin-left: 13px;
          }
        }
        .rate {
          img{
            width:12px;
            margin-right: 3px;
          }
        }
        .qyt{
          float: left;
          margin:  0;
          .btn-num{
            float: right;
            font-size: 16px;
            border-radius: 50%;
            width: 23px;
            height: 24px;
            /* border: 2px solid #818181; */
            line-height: 29px;
            text-align: center;
            display: inline-block;
            color: #ffffff;
            background-color: #1B325E;
          }
          .num{
            float: right;
            width: 34px;
            text-align: center;
            margin-top: 1px;
          }
        }
        .size{
          float: right;
          color:#6C757D;
          span{
            color:#323232
          }
        }


        h6{
          font-size: 11px !important;
          margin: 7px 0 0 !important;
          color: #706e6e;
        }

        .delete{
          color: red;
          font-size: 15px;
          float: right;
          margin-top: 4px;
          margin-right: 0;
        }


      }


    }
  }


  .sc-ion-input-ios-h:not(.item-label), div:not(.item-label) .sc-ion-input-ios-h, div.sc-ion-input-md-h:not(.item-label), div:not(.item-label) .sc-ion-input-md-h {
    /* --padding-start: 10px; */
    border: 1px solid #b7b4b4;
    margin: 0;
    border-radius: 0px;
    font-size: 14px;
    height: 27px;

  }

  .list-price{
    font-size: 12px;
    padding: 3px 12px;
    color:#444;
    .price{
      float: right
    }
    .bold{
      color:#323232
    }

  }

  .bottom{
    position: fixed;
    width: 95%;
    bottom: 9px;
    left: 8px;
    right: 10px;
    text-align: center;
    background-color: #fff;
    /* margin: 10px; */
    border: 1px solid #d1d1d1;
    border-radius: 7px;

    .total{
      display: block;
      font-size: 15px;
      text-align: left;
      margin-top: 4px;
      .total-price{
        color: #062134;
        font-weight: bold;
        margin: 0;
        font-size: 17px;
      }
    }
    .full-total{
      border-top: 1px solid #ddd;
      padding-top: 10px;
      margin-bottom: 10px;
    }
  }



}

.cart-content.cart-en{

  .qyt{
    float: right!important;
    .btn-num{
      float: left!important;

    }
    .num{
      float: left!important;

    }
  }
  .size{
    float: left!important;

  }
  .delete{
    float:left!important;
  }
  .total{
    text-align: right!important;
  }

  .price{
    float: left!important;
  }

}
.listc{
  margin: 10px;
  background-color: #f9f7f7;
  padding: 10px;
  font-size: 24px !important;
  font-weight: 600;
}


.logo {
  img {
    width: 60%;
    margin: 66px 20% 10px;
  }
}
