

<ion-content class="register ion-padding">



  <div class="back" >
<!--    <img src="../../../assets/img/back.png" width="12">-->
    <h5 >
      {{lang.mainlang.register.login}}
    </h5>
  </div>

  <div class=" head">

    <img src="../../../assets/img/logo.png" width="150">

  </div>


  <form [formGroup]="register" [ngClass]="form" class="form" (ngSubmit)="logForm()">

    <ion-item class="input required">
      <ion-label color="dark" position="floating">
        {{lang.mainlang.register.username}}</ion-label>
      <ion-input type="text" formControlName="user_name" ></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.user_name">
        <div class="error-message" *ngIf="register.get('user_nameuser_name').hasError(validation.type)">
          <p>{{validation.message}}</p>
        </div>
      </ng-container>
    </div>



    <!-- password -->
    <ion-item class="input required">
      <ion-label color="dark" position="floating">{{lang.mainlang.register.password}}</ion-label>
      <ion-input type="password" formControlName="password" placeholder="********"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="register.get('password').hasError(validation.type)">
          <p>{{validation.message}}</p>
        </div>
      </ng-container>
    </div>


    <div class="clearfix"></div>
    <!-- button submit -->
    <ion-button color="primary" class="submit" shape="round" type=submit [disabled]="!register.valid"
                (click)="goToHome()"> {{lang.mainlang.register.login}} </ion-button>

    <div class="links-login bottom">

      <p>
        {{lang.mainlang.register.loginfull}}
        <span (click)="newegoster()" >
              {{lang.mainlang.register.signup}}

        </span>
      </p>
    </div>




    <!-- social -->



  </form>



</ion-content>
