<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" ><img src="../../../assets/img/back-arrow-icon.png" width="20"></ion-button>
    </ion-buttons>
    <ion-title>
      {{lang.mainlang.adressadd.myadress}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<!--address_address_1: "ش الجلاء"-->
<!--address_address_2: "البيت رقم ٣"-->
<!--address_city: "ييي"-->
<!--address_company: ""-->
<!--address_first_name: "حازم حمدي طه"-->
<!--address_last_name: ""-->
<!--address_post_code: "٢٣٤٤٣٣"-->
<!--country_id: 2-->
<!--country_name: "السعوديه العربيه"-->
<!--customer_id: 14-->
<!--id: 10-->
<!--region_id: 2-->
<!--region_name: "جدة"-->
<ion-content class="my-address">

  <div class="address" *ngFor="let x of all ; let i = index">
    <h5>{{lang.mainlang.adressadd.adress}} {{i+1}}</h5>
    <p> <img src="../../../assets/img/address-icon.png" width="17">
      {{x.address_address_1}} <br>
      &nbsp;&nbsp;{{x.address_address_2}}
    </p>
    <p><img src="../../../assets/img/user.png" width="17"> {{x.address_first_name}}</p>
<!--    <p><img src="../../../assets/img/phone.png" width="17"> 804-863-9039</p>-->
<!--    <p><img src="../../../assets/img/mail-icon.png" width="17">  4lihevyhu6a@powerencry.com</p>-->

    <ion-row class="foot">
      <ion-col>
<!--        <h6 (click)="goToEditAddress()">Edit</h6>-->
      </ion-col>
      <ion-col (click)="remove(x.id)">
        <h6 class="f-right">{{lang.mainlang.adressadd.remove}}</h6>
      </ion-col>
    </ion-row>
  </div>






</ion-content>
