.my-address{
    --padding-top: 6px;
    --padding-start: 8px;
    --padding-end: 8px;
  

    .address{
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 15px 0 0;
        border-radius: 7px;
        margin: 7px 0;
        h5{
            color:#1B325E;
            font-size: 17px;
            font-weight: bold;
            margin: 0 10px; 
        }
        p{
            color:#6C757D;
            margin:  10px;
            font-size: 15px;
            img{
                margin: 0 5px;
                // height: auto;
            }
        }

        .foot{
            background-color: #E8E8E8;
            color:#1B325E;
            h6{
                margin: 6px 10px;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}