<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToMore()"><img src="../../assets/img/menu.png" width="20"></ion-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>

    <ion-buttons slot="end" class="head-icon">
      <ion-button class="link home" >
        <img src="../../assets/img/noti.png" width="20">
      </ion-button>
      <ion-button class="link home cart" (click)="goToCart()">
        <img src="../../assets/img/cart.png" width="24">
        <span class="num-cart">5</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding about">

  <img src="../../../assets/img/logo.png">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</ion-content>
