

<ion-content class="product-detail">

    <div class="img-product">

      <div class="back" (click)="back()">
        <img src="../../../assets/img/back-w.png" width="12">
      </div>


      <ion-slides >

        <ion-slide>
          <img src="{{all?.image}}">

        </ion-slide>

      </ion-slides>

    </div>

    <div class="card prod">
      <ion-label class="productName" *ngIf="gloable.language_id == '2'">
        {{all?.name_en}}
      </ion-label>
      <ion-label class="productName" *ngIf="gloable.language_id != '2'">
        {{all?.name}}
      </ion-label>
      <p *ngIf="gloable.language_id == '2'">  {{all?.description_en}}</p>
      <p *ngIf="gloable.language_id != '2'">  {{all?.description}}</p>

<!--      <div class="rating">-->
<!--        <span>-->
<!--          <img src="../../../assets/img/star-active.png" width="15">-->
<!--          <img src="../../../assets/img/star-active.png" width="15">-->
<!--          <img src="../../../assets/img/star-active.png" width="15">-->
<!--          <img src="../../../assets/img/star.png" width="15">-->
<!--          <img src="../../../assets/img/star.png" width="15">-->
<!--        </span>-->
<!--      </div>-->
      <ion-row>
        <ion-col size="5">
          <div class="qyt">
            <span class="btn-num" (click)="dec(8)"> <img src="../../../assets/img/minus.png" width="12"> </span>
            <span class="num">{{count[8]}}</span>
            <span class="btn-num" (click)="inc(8)"> <img src="../../../assets/img/plus.png" width="12"></span>
          </div>
      </ion-col>
      <ion-col size="7">
        <div class="productPrice">
            <span class="new"> SAR {{all?.price}}</span>
          </div>
      </ion-col>
    </ion-row>
      <div style="clear:both"></div>

      <div class="favorite"  *ngIf="all?.is_favourite == '1'" (click)="removetofava(all?.favourite_id )">
<!--        <img src="../../../assets/img/fav.png"  (click)="addfav(all?.id ,1)" width="15">-->
        <img src="../../../assets/img/favsolid.png"   width="15">
      </div>
      <div class="favorite"  *ngIf="all?.is_favourite != '1'" (click)="addfav(all?.id ,1)">
<!--        <img src="../../../assets/img/fav.png"  (click)="addfav(all?.id ,1)" width="15">-->
        <img src="../../../assets/img/fav.png"   width="15">
      </div>
      <div class="share" style="    margin-right: 150px;">
        <img  src="../../../assets/img/share.png" width="15">
      </div>
<!--      <div class="rating-b">-->
<!--        <img src="../../../assets/img/star-btn.png" width="15">-->
<!--      </div>-->
    </div>



    <div class="card">
      <h5 *ngIf="gloable.language_id == '2'">Product description</h5>
      <h5 *ngIf="gloable.language_id == '1'">وصف المنتج</h5>
      <ion-row>
        <p *ngIf="gloable.language_id == '2'">  {{all?.description_en}}</p>
        <p *ngIf="gloable.language_id != '2'">  {{all?.description}}</p>
    </ion-row>
    </div>

    <div class="card">
      <h5 *ngIf="gloable.language_id == '2'">manufacturer name</h5>
      <h5 *ngIf="gloable.language_id == '1'">اسم المصنع</h5>
      <ion-row>
        <p *ngIf="gloable.language_id == '2'">  {{all?.manufacturer_name_en}}</p>
        <p *ngIf="gloable.language_id != '2'">  {{all?.manufacturer_name}}</p>
    </ion-row>

    </div>

    <div class="card ">
      <h5 *ngIf="gloable.language_id == '2'">supplement facts</h5>
      <h5 *ngIf="gloable.language_id == '1'">حقائق مكملة</h5>
      <ion-row>
        <p *ngIf="gloable.language_id == '2'">  {{all?.supplement_facts}}</p>
        <p *ngIf="gloable.language_id != '2'">  {{all?.supplement_facts_en}}</p>
      </ion-row>
    </div>




    <!-- Start Products -->
    <div class="products">
      <div class="head">
        <h5 *ngIf="gloable.language_id == '2'"> Related  </h5>
        <h5 *ngIf="gloable.language_id == '1'"> مرتبط  </h5>
      </div>

      <div class="scroll" scrollX="true">
        <div class="inner">

          <!-- start single-product -->
          <ion-card class="single-product" *ngFor="let x of all?.related; let i = index" >
            <div class="img-product">
              <img src="{{x.image}}" (click)="goToProductDetail(x.id)">

            </div>
            <ion-card-content class="content-product">

              <h4  *ngIf="gloable.language_id == '2'"> {{x.name_en}} </h4>
              <h4  *ngIf="gloable.language_id != '2'"> {{x.name}} </h4>
              <p *ngIf="gloable.language_id == '2'">  {{x.description_en}}</p>
              <p *ngIf="gloable.language_id != '2'">  {{x.description}}</p>
<!--              <div class="rating">-->
<!--                <span>-->
<!--                  <img src="../../../assets/img/star-active.png" width="15">-->
<!--                  <img src="../../../assets/img/star-active.png" width="15">-->
<!--                  <img src="../../../assets/img/star-active.png" width="15">-->
<!--                  <img src="../../../assets/img/star.png" width="15">-->
<!--                  <img src="../../../assets/img/star.png" width="15">-->
<!--                </span>-->
<!--              </div>-->
              <div class="productPrice">
                <span class="new"> SAR {{x.price}}</span>
              </div>

              <div class="qyt">
                <span class="btn-num" (click)="dec(i)"> <img src="../../../assets/img/minus.png" width="12"> </span>
                <span class="num">{{count[i]}}</span>
                <span class="btn-num" (click)="inc(i)"> <img src="../../../assets/img/plus.png" width="12"></span>
              </div>

              <button ion-button (click)="addcart(x.id , i)"  class="link cart"><img src="../../../assets/img/cart-w.png"></button>
<!--              <button ion-button class="link fav"><img src="../../../assets/img/fav.png"></button>-->

            </ion-card-content>
          </ion-card>
          <!-- end single-product -->

        </div>
      </div>
    </div>


    <ion-footer class="bottom">

               <!-- button submit -->
               <ion-button *ngIf="gloable.language_id == '2'"  color="primary"  (click)="addcart(all?.id , 1)"  class="submit m0" >
                  Add To Cart</ion-button>
  <ion-button *ngIf="gloable.language_id == '1'"  color="primary"  (click)="addcart(all?.id , 1)"  class="submit m0" >
                  اضافة الي السله</ion-button>

  </ion-footer>

  </ion-content>
