.product-detail{
    // --padding-top: 6px;
    // --padding-start: 8px;
    // --padding-end: 8px;



    .img-product{

        ion-slide{
            position: relative;
            background-color: #3455a7;
            border-radius: 0 0 40px 40px;
            img{
                width: 80%;
            }
        }
        .back{
            position: absolute;
            z-index:99;
            left:30px;
            top:30px
        }

    }

    .prod{
        margin-top: 0px!important;
        position: relative;
        z-index: 999999;

        .qyt{
            float: left;
            margin-top: 6px;
            background-color: #ffffff;
            border: 1px solid #D3D8D8;
            margin-bottom: 7px;
            border-radius: 7px;
            .btn-num{
                float: right;
                font-size: 16px;
                border-radius: 0;
                width: 37px;
                height: 26px;
                line-height: 26px;
                text-align: center;
                display: inline-block;
                color: #000;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
            }
            .num{
                float: right;
                width: 30px;
                text-align: center;
                margin-top: 3px;
            }
        }
        .favorite{
            position: absolute;
            z-index: 99;
            right: 30px;
            top: -30px;
            background-color: #fff;
            border-radius: 50px;
            box-shadow: 2px 2px 4px #ddd, -2px -2px 4px #ddd;
            padding: 5px 8px;
            margin: 6px 0px;
        }
        .share{
            position: absolute;
            z-index:99;
            right:30px;
            top:15px;
            background-color: #3455A7;
            border-radius: 50px;
            box-shadow: 2px 2px 4px #ddd, -2px -2px 4px #ddd;
            padding:6px 8px 4px;
            margin: 6px 0px;
        }
        .rating-b{
            position: absolute;
            z-index:99;
            right:30px;
            top:60px;
            background-color: #fff;
            border-radius: 50px;
            box-shadow: 2px 2px 4px #ddd, -2px -2px 4px #ddd;
            padding: 5px 8px;
            margin: 6px 0px;
        }
    }

    .card{
        border-bottom: 1px solid #ddd;
        padding: 0px 15px 5px;
        margin-bottom: 10px;
        border-radius: 0;
        margin: 8px 10px;

        .productName{
            color: #3455A7;
            font-size: 18px !important;
            margin: 8px 4px;
            display: block;
        }
        .productPrice{
            font-size: 16px;
            margin-bottom: 4px;
            margin-top: 1px;
            .new{
                color: #1B325E;
                font-weight: bold;
                margin-top: 9px;
                display: block;
            }
            .old{
                text-decoration: line-through;
                color: #6C757D;
                margin-left: 13px;
            }
        }
        .sale{
            border-radius: 7px 0 7px 0;
            background-color: #1B325E;
            padding: 5px 8px;
            color:#fff
        }



        h5{
            color: #303031;
            font-size: 14px !important;
            margin: 5px 0;
        }
        p{
            font-size: 12px;
            color: #9DA1A1;
            margin: 4px 0;
            line-height: 22px;
            text-align: justify;
        }
        span.link{
            color:#1B325E;
            font-weight: bold;
            font-size: 16px;
            margin: 7px 0;
        }
        h4{
            font-size: 15px;
            color:#6C757D;
            margin: 7px 0;

            span{
                color:#323232;
                font-weight: bold;
            }
        }
        h6{
            font-size: 15px;
            color:#6C757D;
            margin: 7px 0;
            line-height: 1.4;
            span{
                color:#323232;

            }
        }


    }

    .products{
        margin-bottom: 40px;
        .head{
            margin: 12px 12px 7px;
            h5{
                display: inline;
                text-transform: uppercase;
                color: #1B325E;
                font-size: 16px;
                span{
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            .more{
               float: right;
               font-size: 16px;
               margin-top: -10px;
               color: #1B325E;
               font-weight: bold;
            }
        }

        .scroll{
           overflow-x: scroll;
           overflow-y: hidden;
           width:100%;
           .inner{
               width:1300px;
                height: 100%;

                .single-product{
                    background: #fff;
                    border: 1px solid #dddedf;
                    border-radius: 4px;
                    padding-left: 0;
                    margin: 11px 5px 33px;
                    width: 164px;
                    float: left;
                    box-shadow: 0 2px 16px rgb(0 0 0 / 12%);

                    .img-product{
                        height: 130px;
                        background-color: #fff;
                        margin: 0 12px 0 0 !important;
                        overflow: hidden;
                        margin: 0 auto;
                        width: 100%;

                        img{
                            position: relative;
                            width: 100%;
                            height: 100%;
                        }
                        .new{
                            position: absolute;
                            z-index: 2;
                            left: 5px;
                            padding: 4px 5px;
                            font-size: 11px;
                            color: #fff;
                            border-radius: 0 10px 10px 0;
                            top: 10px;
                            background-color: #15b5e7
                        }

                        .cart-icon {
                            position: absolute;
                            z-index: 2;
                            margin-top: 10px;
                            border-radius: 50% !important;
                            height: 35px;
                            width: 35px;
                            font-size: 19px;
                            padding: 0;
                            top: 103px;
                            left: 40%;
                        }
                    }
                    .content-product{
                        width: 100%;
                        padding:3px 2px !important;

                        h4{
                            font-size: 17px;
                            color: #000;
                            margin: 3px ;
                        }
                        p{
                            font-size: 13px;
                            line-height: 1.4;
                            margin: 0 3px;
                            height: 36px;
                            overflow: hidden;
                        }

                        .productPrice{
                            font-size: 14px;
                            margin: 0 3px;
                            .new{
                                font-size: 15px;
                                color: #323232;
                            }
                        }
                        .cart{
                            background-color: #3455A7;
                            border-radius: 50px;
                            padding: 7px;
                            margin: 6px 4px;
                            float: left;
                            img{
                                width: 15px;
                            }
                        }


                        .fav{
                            background-color: #fff;
                            border-radius: 50px;
                            box-shadow: 2px 2px 4px #ddd, -2px -2px 4px #ddd;
                            padding: 7px;
                            margin: 6px 0px;
                            img{
                                width: 15px;
                            }

                        }
                        .qyt{
                            float: left;
                            margin-top: 6px;
                            background-color: #ffffff;
                            border: 1px solid #D3D8D8;
                            margin-bottom: 7px;
                            border-radius: 7px;
                            .btn-num{
                                float: right;
                                font-size: 16px;
                                border-radius: 0;
                                width: 30px;
                                height: 26px;
                                line-height: 26px;
                                text-align: center;
                                display: inline-block;
                                color: #000;
                                border-left: 1px solid #ddd;
                                border-right: 1px solid #ddd;
                            }
                            .num{
                                float: right;
                                width: 25px;
                                text-align: center;
                                margin-top: 3px;
                            }
                        }

                        .rating{
                            margin: 4px 0;
                            ion-col{
                               padding:0
                            }
                            .num-rating{
                                font-size:15px;
                                font-weight: bold;
                                color:#000
                            }

                        }

                    }


                }

               }

           }

    }

    ion-footer{
        position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    border: 0;
    box-shadow: none;
    .submit {
        width: 90%;
        margin: 12px 5%!important;
    }
    }
    .footer-md::before,.footer-ios::before{
        background-image: none;

    }
}
