

<ion-content class="register ion-padding">



  <div class="back" (click)="goToLogin()">
    <img src="../../../assets/img/back.png" width="12">
    <h5 >
      {{lang.mainlang.register.signup}}
     </h5>
  </div>

  <div class=" head">

    <img src="../../../assets/img/logo.png" width="150">

    </div>


<form [formGroup]="register" [ngClass]="form" class="form" (ngSubmit)="logForm()">

  <ion-item class="input required">
    <ion-label color="dark" position="floating">
      {{lang.mainlang.register.name}}</ion-label>
    <ion-input type="text" formControlName="name" ></ion-input>
  </ion-item>
  <div>
    <ng-container *ngFor="let validation of validation_messages.name">
      <div class="error-message" *ngIf="register.get('name').hasError(validation.type)">
        <p>{{validation.message}}</p>
      </div>
    </ng-container>
  </div>


  <ion-item class="input required">
    <ion-label color="dark" position="floating">
      {{lang.mainlang.register.username}} </ion-label>
    <ion-input type="text" formControlName="username" ></ion-input>
  </ion-item>
  <div>
    <ng-container *ngFor="let validation of validation_messages.username">
      <div class="error-message" *ngIf="register.get('username').hasError(validation.type)">
        <p>{{validation.message}}</p>
      </div>
    </ng-container>
  </div>

  <ion-item class="input required">
    <ion-label color="dark" position="floating">
      {{lang.mainlang.register.mobile}}</ion-label>
    <ion-input type="text" formControlName="mobile" ></ion-input>
  </ion-item>
  <div>
    <ng-container *ngFor="let validation of validation_messages.mobile">
      <div class="error-message" *ngIf="register.get('mobile').hasError(validation.type)">
        <p>{{validation.message}}</p>
      </div>
    </ng-container>
  </div>

  <ion-item class="input required">
    <ion-label color="dark" position="floating">
      {{lang.mainlang.register.phone}}</ion-label>
    <ion-input type="text" formControlName="phone" ></ion-input>
  </ion-item>
  <div>
    <ng-container *ngFor="let validation of validation_messages.phone">
      <div class="error-message" *ngIf="register.get('phone').hasError(validation.type)">
        <p>{{validation.message}}</p>
      </div>
    </ng-container>
  </div>

<ion-item class="input required">
  <ion-label color="dark" position="floating">
    {{lang.mainlang.register.email}}</ion-label>
  <ion-input type="text" formControlName="email" ></ion-input>
</ion-item>
<div>
  <ng-container *ngFor="let validation of validation_messages.email">
    <div class="error-message" *ngIf="register.get('email').hasError(validation.type)">
      <p>{{validation.message}}</p>
    </div>
  </ng-container>
</div>



<!-- password -->
<ion-item class="input required">
<ion-label color="dark" position="floating"> {{lang.mainlang.register.password}}</ion-label>
<ion-input type="password" formControlName="password" placeholder="********"></ion-input>
</ion-item>

<div>
<ng-container *ngFor="let validation of validation_messages.password">
  <div class="error-message" *ngIf="register.get('password').hasError(validation.type)">
    <p>{{validation.message}}</p>
  </div>
</ng-container>
</div>


<div class="clearfix"></div>
<!-- button submit -->
<ion-button color="primary" class="submit" shape="round" type=submit [disabled]="!register.valid"
>  {{lang.mainlang.register.signup}} </ion-button>

<div class="links-login bottom">

  <p>
    {{lang.mainlang.register.loginfull}}
  <a  >
    {{lang.mainlang.register.login}}
  </a>
  </p>
  </div>




<!-- social -->



</form>



</ion-content>
