<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button> -->




  <!-- <ion-tab-button tab="tab3" *ngIf="loadingCTRL.isLogedIn()">
    <img src="../../assets/img/search.png" width="20" height="20">
    <ion-label>{{'search' |translate}} </ion-label>
  </ion-tab-button> -->

  <ion-tab-button tab="tab1" >
    <img src="../../assets/img/tab1.png" width="17">
    <ion-label *ngIf="gloable.language_id == '2'" >Home</ion-label>
    <ion-label *ngIf="gloable.language_id == '1'" >الرئيسية</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab2" >
    <img src="../../assets/img/tab2.png" width="22" height="20">
    <ion-label *ngIf="gloable.language_id == '2'">Orders  </ion-label>
    <ion-label *ngIf="gloable.language_id == '1'"> الاوردرات  </ion-label>
  </ion-tab-button>

   <ion-tab-button tab="tab3">
    <img src="../../assets/img/tab3.png" width="17" height="20">
    <ion-label *ngIf="gloable.language_id == '2'">Favorite </ion-label>
    <ion-label *ngIf="gloable.language_id == '1'">المفضلة </ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab4">
    <img src="../../assets/img/tab4.png" width="17">
    <ion-label *ngIf="gloable.language_id == '2'"> Cart</ion-label>
    <ion-label *ngIf="gloable.language_id == '1'"> السلة</ion-label>
  </ion-tab-button>
<!--  <ion-tab-button tab="tab5">-->
<!--    <img src="../../assets/img/tab5.png" width="17">-->
<!--    <ion-label> Profile</ion-label>-->
<!--  </ion-tab-button>-->

  </ion-tab-bar>



</ion-tabs>
