<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToMore()"><img src="../../assets/img/menu.png" width="20"></ion-button>
    </ion-buttons>
    <ion-title>   Products    </ion-title>

    <ion-buttons slot="end" class="head-icon">
      <ion-button class="link home" >
        <img src="../../assets/img/noti.png" width="20">
      </ion-button>
      <ion-button class="link home cart" (click)="goToCart()">
        <img src="../../assets/img/cart.png" width="24">
<!--        <span class="num-cart">5</span>-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  category_id: 16-->
<!--  code: 80-->
<!--  comments: []-->
<!--  country_origin: "ايطاليا"-->
<!--  country_origin_en: "Italy"-->
<!--  description: "الاستخدام : حبه واحدة يوميا"-->
<!--  description_en: "Directions: one tablet per day"-->
<!--  discount: 0-->
<!--  id: 397-->
<!--  image: "http://192.168.1.101/pharma/upload/product/40a9ef229fcaa1bc645019029c73c047.png"-->
<!--  is_discount: 0-->
<!--  is_favourite: 0-->
<!--  manufacturer_id: 16-->
<!--  manufacturer_name: "علم السلامة"-->
<!--  manufacturer_name_en: "saftey science"-->
<!--  name: "ارجيتيست"-->
<!--  name_en: "ARGITEST"-->
<!--  price: 290-->
<!--  rating: 0-->
<!--  related: (6) [{…}, {…}, {…}, {…}, {…}, {…}]-->
<!--  summary: ""-->
<!--  summary_en: ""-->
<!--  supplement_facts: "ACTIVE INGREDIENTS PER ONE TABLET:-->
<!--  ↵D-aspartic acid 443 mg-->
<!--  ↵Maca root dry extract 250 mg-->
<!--  ↵L-citrulline 250 mg-->
<!--  ↵Fenugreek dry extract 50% saponins 100 mg"-->
<!--  supplement_facts_en: "ACTIVE INGRE-->

  <!-- start products -->
  <div class="products">

    <ion-row>

      <!--start single-product-grid  -->
<!--      (click)="goToProductDetail()"-->
      <ion-col *ngFor="let x of all ; let i = index" size="6" >
        <ion-card class="single-product">
          <div class="img-product" (click)="goToProductDetail(x.id)">
            <img src="{{x.image}}">

          </div>
          <ion-card-content class="content-product">

            <h4 *ngIf="gloable.language_id == '2'"> {{x.name_en}} </h4>
            <h4 *ngIf="gloable.language_id != '2'"> {{x.name}} </h4>
            <p *ngIf="gloable.language_id == '2'">
              {{x.description_en}}
            </p>
            <p *ngIf="gloable.language_id != '2'">
              {{x.description}}
            </p>
<!--            <div class="rating">-->
<!--              <span>-->
<!--                <img src="../../../assets/img/star-active.png" width="15">-->
<!--                <img src="../../../assets/img/star-active.png" width="15">-->
<!--                <img src="../../../assets/img/star-active.png" width="15">-->
<!--                <img src="../../../assets/img/star.png" width="15">-->
<!--                <img src="../../../assets/img/star.png" width="15">-->
<!--              </span>-->
<!--            </div>-->
            <div class="productPrice">
              <span class="new"> SAR {{x.price}}</span>
            </div>

            <div class="qyt">
              <span class="btn-num" (click)="dec(i)"> <img src="../../../assets/img/minus.png" width="12"> </span>
              <span class="num">{{count[i]}}</span>
              <span class="btn-num" (click)="inc(i)"> <img src="../../../assets/img/plus.png" width="12"></span>
            </div>

            <button ion-button (click)="addcart(x.id , i)" class="link cart"><img src="../../../assets/img/cart-w.png"></button>
            <button ion-button (click)="addfav(x.id ,i)" class="link fav"><img src="../../../assets/img/fav.png"></button>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <!--end single-product-grid  -->


    </ion-row>


  </div>
  <!-- end agency -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
