.products{
    margin: 0px 10px;
   
   
    .single-product{
        background:#fff;
        border: 1px solid #dddedf;
        border-radius: 4px;
        padding-left: 0;
        margin: 0;
        width:100%;
        box-shadow: 0 2px 16px rgba(0,0,0,.12);

        .img-product{
            height: 130px;
            background-color: #fff;
            margin: 0 12px 0 0 !important;
            overflow: hidden;
            margin: 0 auto;
            width: 100%;

            img{
                position: relative;
                width: 100%;
                height: 100%;
            }
            .new{
                position: absolute;
                z-index: 2;
                left: 5px;
                padding: 4px 5px;
                font-size: 11px;
                color: #fff;
                border-radius: 0 10px 10px 0;
                top: 10px;    
                background-color: #15b5e7       
            }
           
            .cart-icon {
                position: absolute;
                z-index: 2;
                margin-top: 10px;
                border-radius: 50% !important;
                height: 35px;
                width: 35px;
                font-size: 19px;
                padding: 0;
                top: 103px;
                left: 40%;
            }
        }
        .content-product{
            width: 100%;
            padding:3px 2px !important;

            h4{
                font-size: 17px;
                color: #000;
                margin: 3px ;
            }
            p{
                font-size: 13px;
                line-height: 1.4;
                margin: 0 3px;
                height: 36px;
                overflow: hidden;
            }
    
            .productPrice{
                font-size: 14px;
                margin: 0 3px;
                .new{
                    font-size: 15px;
                    color: #323232;
                }
            }
            .cart{
                background-color: #3455A7;
                border-radius: 50px;
                padding: 7px;
                margin: 6px 4px;
                float: left;
                img{
                    width: 15px;
                }
            }
            
        
            .fav{
                background-color: #fff;
                border-radius: 50px;
                box-shadow: 2px 2px 4px #ddd, -2px -2px 4px #ddd;
                padding: 7px;
                margin: 6px 0px;
                img{
                    width: 15px;
                }
                
            }
            .qyt{
                float: left;
                margin-top: 6px;
                background-color: #ffffff;
                border: 1px solid #D3D8D8;
                margin-bottom: 7px;
                border-radius: 7px;
                .btn-num{
                    float: right;
                    font-size: 16px;
                    border-radius: 0;
                    width: 30px;
                    height: 26px;
                    line-height: 26px;
                    text-align: center;
                    display: inline-block;
                    color: #000;
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                }
                .num{
                    float: right;
                    width: 25px;
                    text-align: center;
                    margin-top: 3px;
                }
            }

            .rating{
                margin: 4px 0;
                ion-col{
                   padding:0
                }
                .num-rating{
                    font-size:15px;
                    font-weight: bold;
                    color:#000
                }
               
            }
           
        }

       
    }
}