<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToMore()"><img src="../../assets/img/menu.png" width="20"></ion-button>
    </ion-buttons>
    <ion-title>
      {{lang.mainlang.orders.title}}
    </ion-title>

    <ion-buttons slot="end" class="head-icon">
<!--      <ion-button class="link home" >-->
<!--        <img src="../../assets/img/noti.png" width="20">-->
<!--      </ion-button>-->
      <ion-button class="link home cart" (click)="goToCart()">
        <img src="../../assets/img/cart.png" width="24">
<!--        <span class="num-cart">5</span>-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--address: "ffff"-->
<!--country_id: 2-->
<!--create_date_time: "2021-05-04"-->
<!--customer_id: null-->
<!--full_total: 727-->
<!--id: 5621-->
<!--order_status: 3-->
<!--products: (5) [{…}, {…}, {…}, {…}, {…}]-->
<!--region: "fff"-->
<!--shipping_cost: 28-->
<ion-content class="cart">

  <ion-list class="list-cart">

    <!-- single-cart -->
    <ion-item class="single-cart"  *ngFor="let x of all">

        <div class="content-cart">

          <h5 class="productName"> #{{x.id}} </h5>
          <h6>{{lang.mainlang.orders.qnt}}:<span>{{x.products.length}}</span></h6>
          <h6>{{lang.mainlang.orders.Total}}:<span>SAR {{x.full_total}}</span></h6>
          <h6>{{lang.mainlang.orders.Shipping}}:<span>SAR {{x.shipping_cost}}</span></h6>

          <ion-button  color="primary" class="submit-mute"  shape="round" (click)="goToOrderDetail(x.id)">{{lang.mainlang.orders.OrderDetail}}</ion-button>

<!--          <div class="state-order">-->
<!--            <span class="complete">Complete-->
<!--               <ion-icon name="radio-button-on"></ion-icon>-->
<!--            </span>-->
<!--          </div>-->


<!--          <div class="state-order">-->
<!--          <span class="refused">refused-->
<!--             <ion-icon name="radio-button-on"></ion-icon>-->
<!--          </span>-->
<!--          </div>-->
<!--          -->
<!--          -->
<!--          <div class="state-order">-->
<!--          <span class="complete">Complete-->
<!--             <ion-icon name="radio-button-on"></ion-icon>-->
<!--          </span>-->
<!--          </div>-->
<!--          -->

          <div class="state-order">
          <span class="processing">{{lang.mainlang.orders.ordered}}
             <ion-icon name="radio-button-on"></ion-icon>
          </span>
          </div>

      </div>
    </ion-item>



</ion-list>



</ion-content>
