

.cart{
  
    .list-cart{
        margin: 0;
        padding-top: 4px;
        background: var(--ion-item-background, var(--ion-background-color, #fff));
        .single-cart{
            --padding-start: 6px;
            --background: var(--ion-item-background,var(--ion-background-color,#fff));
            --background-activated: #fff;
            --background-focused: var(--ion-item-background-activated,#f5f5f5);
            --border-color: var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,#ddd)));
            --padding-end: 0;
            box-shadow: 2px 2px 4px #f5f5f5, -2px -2px 4px #f5f5f5;
            padding: 1px;
            --border-radius: 5px;
            margin:0px 10px 10px;
            position: relative;

            ion-thumbnail{
                width: 66px;
                height: 95px;
                margin: 5px;

            }
            .content-cart{
                width: 100%;
                padding: 6px 10px 0;
                position: relative;
    
                .productName{
                    font-size: 16px;
                    color: #4f4f4f;
                    margin:0px 0px 0px;
                }
                .productCode{
                    font-size: 14px;
                    color:#b7b7b7;
                    margin: 7px 0;
                }
               
        
                .price{
                    font-size: 15px !important;
                    margin:5px 0!important;
                    color: #444;
                }

                .state-order{
                    position: absolute;
                    top: 10px;
                    right: 0px;
                    font-size: 12px;
                    font-weight: bold;
                    
                    .complete{
                        color:#00c853
                    }
                    .pending{
                        color:#f29b34
                    }
                    .processing{
                        color:#0082e5
                    }
                    .refused{
                        color:#e74d3d
                    }
        
                }
        
                h6{
                    color: #7f7e7e;
                    font-size: 14px;
                    text-transform: capitalize;
                    margin: 7px 0;
                    span{
                        color:rgb(48, 48, 48);
                        margin-left: 3px;
                        font-weight: bold
        
                    }
                }
    
            }
    
           
        }
    }

   
}
