.home{

    .intro{
        margin: 0 20px;
        h3{
            font-weight: bold;
            margin: 5px 0 0;
            font-size: 21px;
        }
        p{
            margin: 5px 0 15px;
            font-size: 14px;
            color:#9DA1A1
        }
        .searchbar-input.sc-ion-searchbar-md,
        .searchbar-input.sc-ion-searchbar-ios,
        .sc-ion-searchbar-md-h,
        .sc-ion-searchbar-ios-h{
            --ion-background-color: #F3EFEF!important;
        }
        .searchbar-search-icon.sc-ion-searchbar-md,
        .searchbar-search-icon.sc-ion-searchbar-ios{
            --icon-color:blue
            
        }
        
        h6{
            font-weight: bold;
        }
        .scroll{
            overflow-x: scroll;
            overflow-y: hidden;
            width:100%;
            .inner{
                width:450px;
                 height: 100%;
                 ul{
                    margin: 0 -42px 22px;
                    li{
                        padding: 5px 18px 7px;
                        color: #9DA1A1;
                        border: 1px solid #9DA1A1;
                        margin: 10px 5px 0 2px;
                        border-radius: 20px;
                        list-style-type: none;
                        display: inline-block;
                    }
                    li.active{
                        background-color: #3455A7;
                        border:1px solid #3455A7;
                        color:#fff
                    }
                }
            }
        }

        
    }

  
    ion-slides{
        overflow: visible;
        ion-slide{
            margin:0 20px;
             width:89%!important;
            position: relative;
        img{
            border-radius: 8px;
            box-shadow: 2px 2px 4px #ddd,-2px -2px 4px #ddd;
        }

        .content{
            position: absolute;
            z-index:2;
            top:10px;
            text-align: left;
            width: 50%;
            left:17px;
            h4{
                color:#fff;
                font-size: 17px;
                text-transform: capitalize;
                line-height: 1.5;
            }

            .submit{
                width: 58%;
                --background: #fff;
                --color: #3455a7;
                /* font-weight: bold; */
                text-transform: capitalize;
            }
        }
        }

        
    }

    .offers{
        margin: 43px 0px 0;
        .scroll{
            overflow-x: scroll;
            overflow-y: hidden;
            width:100%;
            .inner{
                width:1000px;
                 height: 100%;

                 .single-offer{
                    border-radius: 11px;
                    width: 162px;
                    float: left;
                    position: relative;
                    background-color: #506cb2;
                    margin: 0 0px 26px 15px;
                    box-shadow: 2px 2px 4px #ddd, -2px -2px 4px #ddd;
                     .productName{
                        color: #fff;
                        font-size: 15px !important;
                        margin: 13px 10px 0px;
                        display: block;
                    }
                    p{
                        color:#fff;
                        margin: 0 10px;
                        font-size: 13px !important;
                    }
                    img.pro{
                        height: 140px;
                        margin: auto;
                        display: block;
                    }
                     .favorite{
                        position: absolute;
                        z-index: 99;
                        right: 22px;
                        bottom: -24px;
                        background-color: #fff;
                        border-radius: 50px;
                        box-shadow: 2px 2px 4px #ddd, -2px -2px 4px #ddd;
                        padding: 5px 8px;
                        margin: 6px 0px;
                    }
                 }
                 .single-offer:nth-child(even){
                     background-color: #B871B1;
                 }

            }
        } 
    }
    .products{
        margin: 3px 10px;
        border-bottom:1px solid #ddd;
        .head h5{
            margin: 0 8px 7px;
        }
       
        .single-product{
            background:#fff;
            border: 1px solid #dddedf;
            border-radius: 4px;
            padding-left: 0;
            margin: 0;
            width:100%;
            box-shadow: 0 2px 16px rgba(0,0,0,.12);
    
            .img-product{
                height: 130px;
                background-color: #fff;
                margin: 0 12px 0 0 !important;
                overflow: hidden;
                margin: 0 auto;
                width: 100%;
    
                img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
                .new{
                    position: absolute;
                    z-index: 2;
                    left: 5px;
                    padding: 4px 5px;
                    font-size: 11px;
                    color: #fff;
                    border-radius: 0 10px 10px 0;
                    top: 10px;    
                    background-color: #15b5e7       
                }
               
                .cart-icon {
                    position: absolute;
                    z-index: 2;
                    margin-top: 10px;
                    border-radius: 50% !important;
                    height: 35px;
                    width: 35px;
                    font-size: 19px;
                    padding: 0;
                    top: 103px;
                    left: 40%;
                }
            }
            .content-product{
                width: 100%;
                padding:3px 2px !important;
    
                h4{
                    font-size: 17px;
                    color: #000;
                    margin: 3px ;
                }
                p{
                    font-size: 13px;
                    line-height: 1.4;
                    margin: 0 3px;
                    height: 36px;
                    overflow: hidden;
                }
        
                .productPrice{
                    font-size: 14px;
                    margin: 0 3px;
                    .new{
                        font-size: 15px;
                        color: #323232;
                    }
                }
                .cart{
                    background-color: #3455A7;
                    border-radius: 50px;
                    padding: 7px;
                    margin: 6px 4px;
                    float: left;
                    img{
                        width: 15px;
                    }
                }
                
            
                .fav{
                    background-color: #fff;
                    border-radius: 50px;
                    box-shadow: 2px 2px 4px #ddd, -2px -2px 4px #ddd;
                    padding: 7px;
                    margin: 6px 0px;
                    img{
                        width: 15px;
                    }
                    
                }
                .qyt{
                    float: left;
                    margin-top: 6px;
                    background-color: #ffffff;
                    border: 1px solid #D3D8D8;
                    margin-bottom: 7px;
                    border-radius: 7px;
                    .btn-num{
                        float: right;
                        font-size: 16px;
                        border-radius: 0;
                        width: 30px;
                        height: 26px;
                        line-height: 26px;
                        text-align: center;
                        display: inline-block;
                        color: #000;
                        border-left: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                    }
                    .num{
                        float: right;
                        width: 25px;
                        text-align: center;
                        margin-top: 3px;
                    }
                }
    
                .rating{
                    margin: 4px 0;
                    ion-col{
                       padding:0
                    }
                    .num-rating{
                        font-size:15px;
                        font-weight: bold;
                        color:#000
                    }
                   
                }
               
            }
    
           
        }
    }
}