<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToMore()"><img src="../../assets/img/menu.png" width="20"></ion-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/img/logo.png">
    </ion-title>

    <ion-buttons slot="end" class="head-icon">
<!--      <ion-button class="link home">-->
<!--        <img src="../../assets/img/noti.png" width="20">-->
<!--      </ion-button>-->
      <ion-button class="link home cart" (click)="goToCart()">
        <img src="../../assets/img/cart.png" width="24">
<!--        <span class="num-cart">5</span>-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home">

  <div class="intro">
<!--    <h3>Medicine near you</h3>-->
<!--    <p>Lorem dolor sit amet consectetur adipisicing elit, sed do.</p>-->
    <ion-row>
      <ion-col size="9">
        <ion-searchbar showCancelButton="never" [(ngModel)]="name"></ion-searchbar>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="search()" style="margin-top: 10px;" expand="full">
          <ion-icon  name="search-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </div>
<!--    <h6>Make your Tour</h6>-->
<!--    <div class="scroll" scrollX="true">-->
<!--      <div class="inner">-->
<!--    <ul>-->
<!--      <li class="active">All</li>-->
<!--      <li>Diabetes</li>-->
<!--      <li>Pressure</li>-->
<!--      <li>Immunity</li>-->
<!--    </ul>-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->





  <ion-slides  >

    <ion-slide *ngFor="let x of alls">
      <img src="{{x.image}}">
      <div class="content">
        <h4 *ngIf="gloable.language_id == '2'">{{x.name_en}}</h4>
        <h4 *ngIf="gloable.language_id == '1'">{{x.name}}</h4>
<!--          <ion-button  class="submit" shape="round" type=submit >Discover</ion-button>-->
      </div>

    </ion-slide>

  </ion-slides>


  <div class="offers">
    <div class="scroll" scrollX="true">
      <div class="inner">

         <!-- single offer -->
         <div *ngFor="let x of allprod" class="single-offer" (click)="goToProductDetail(x.id)">
          <ion-label style="padding-bottom: 11px;" class="productName" *ngIf="gloable.language_id == '1'">
            {{x.name}}
          </ion-label>

           <ion-label style="padding-bottom: 11px;" class="productName" *ngIf="gloable.language_id == '2'">
             {{x.name_en}}
           </ion-label>

<!--          <p>{{x.description | slice:0:10}}</p>-->
          <img class="pro" src="{{x.image}}">
<!--          <div class="favorite">-->
<!--            <img src="../../../assets/img/fav.png" width="15">-->
<!--          </div>-->

         </div>



        </div>
        </div>
  </div>


  <!-- start products -->
  <div class="products">
    <ion-row class="head">
      <h5 *ngIf="name == null"  ><span *ngIf="gloable.language_id == '2'">Popular</span></h5>
      <h5 *ngIf="name == null"  ><span *ngIf="gloable.language_id == '1'">المنتجات الاكثر طلبا</span> </h5>
      <h5 *ngIf="name != null" > <span *ngIf="gloable.language_id == '2'">Search Result</span> </h5>
      <h5 *ngIf="name != null" >   <span *ngIf="gloable.language_id == '1'">نتائج البحث</span></h5>
    </ion-row>

    <ion-row>

      <!--start single-product-grid  -->
      <ion-col size="6"  *ngFor="let x of all ; let i = index">
        <ion-card class="single-product">
          <div class="img-product" (click)="goToProductDetail(x.id)">
            <img src="{{x.image}}">

          </div>
          <ion-card-content class="content-product">

            <h4 (click)="goToProductDetail(x.id)" *ngIf="gloable.language_id != '2'"> {{x.name}} </h4>
            <h4 (click)="goToProductDetail(x.id)" *ngIf="gloable.language_id == '2'"> {{x.name_en}} </h4>
            <p *ngIf="gloable.language_id != '2'">
              {{x.description}}
            </p>
            <p *ngIf="gloable.language_id == '2'">
              {{x.description_en}}
            </p>
<!--            <div class="rating">-->
<!--              <span>-->
<!--                <img src="../../../assets/img/star-active.png" width="15">-->
<!--                <img src="../../../assets/img/star-active.png" width="15">-->
<!--                <img src="../../../assets/img/star-active.png" width="15">-->
<!--                <img src="../../../assets/img/star.png" width="15">-->
<!--                <img src="../../../assets/img/star.png" width="15">-->
<!--              </span>-->
<!--            </div>-->
            <div class="productPrice">
              <span class="new">  SAR {{x.price}}</span>
            </div>

            <div class="qyt">
              <span class="btn-num" (click)="dec(i)"> <img src="../../../assets/img/minus.png" width="12"> </span>
              <span class="num">{{count[i]}}</span>
              <span class="btn-num" (click)="inc(i)"> <img src="../../../assets/img/plus.png" width="12"></span>
            </div>

            <button ion-button (click)="addcart(x.id , i)" class="link cart"><img src="../../../assets/img/cart-w.png"></button>
            <button ion-button  *ngIf="x.is_favourite == '1'"  (click)="removetofava(x.id ,i)" class="link fav"><img src="../../../assets/img/favsolid.png"></button>
            <button ion-button *ngIf="x.is_favourite != '1'" (click)="addfav(x.id ,i)" class="link fav"><img src="../../../assets/img/fav.png"></button>

<!--            <div class="favorite"  *ngIf="x.is_favourite == '1'" (click)="removetofava(x.favourite_id )">-->
<!--              &lt;!&ndash;        <img src="../../../assets/img/fav.png"  (click)="addfav(all?.id ,1)" width="15">&ndash;&gt;-->
<!--              <img src="../../../assets/img/favsolid.png"   width="15">-->
<!--            </div>-->
<!--            <div class="favorite"  *ngIf="x.is_favourite != '1'" (click)="rmvfav(x.id ,1)">-->
<!--              &lt;!&ndash;        <img src="../../../assets/img/fav.png"  (click)="addfav(all?.id ,1)" width="15">&ndash;&gt;-->
<!--              <img src="../../../assets/img/fav.png"   width="15">-->
<!--            </div>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!--end single-product-grid  -->



    </ion-row>



  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
