<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goMore()"><img src="../../assets/img/menu.png" width="20"></ion-button>
    </ion-buttons>
    <ion-title>
      {{lang.mainlang.checkout.fav}}
    </ion-title>

    <ion-buttons slot="end" class="head-icon">
<!--      <ion-button class="link home">-->
<!--        <img src="../../assets/img/noti.png" width="20">-->
<!--      </ion-button>-->
      <ion-button class="link home cart" (click)="goToCart()">
        <img src="../../assets/img/cart.png" width="24">
<!--        <span class="num-cart">5</span>-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cart">

  <ion-list class="list-cart">

    <!-- single-cart -->
    <ion-item class="single-cart" *ngFor="let x of all">
      <ion-thumbnail slot="start">
        <img src="{{x.product_image}}">

      </ion-thumbnail>

      <div class="content-cart">
        <h5 class="productName" *ngIf="gloable?.language_id == 1"> {{x.product_name}} </h5>
        <h5 class="productName" *ngIf="gloable?.language_id == 1"> {{x.product_name_en}} </h5>
        <h5 class="price"> SAR {{x.product_price}} </h5>



        <div class=" delete" (click)="removefav(x.id)">
          <ion-icon name="close"></ion-icon>
        </div>

      </div>
    </ion-item>



  </ion-list>



</ion-content>
