<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()"><img src="../../assets/img//back@3x.png" width="10"></ion-button>
    </ion-buttons>
    <ion-title>
      {{lang.mainlang.orders.OrderDetail}}
    </ion-title>

    <!-- <ion-buttons slot="end" class="head-icon">
      <ion-button class="link home" >
        <img src="../../assets/img/noti.png" width="20">
      </ion-button>
      <ion-button class="link home cart" (click)="goToCart()">
        <img src="../../assets/img/cart.png" width="24">
        <span class="num-cart">5</span>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>
<!--address: "ffff"-->
<!--country_id: 2-->
<!--create_date_time: "2021-05-04"-->
<!--customer_id: null-->
<!--full_total: 727-->
<!--id: 5621-->
<!--order_status: 3-->
<!--products: Array(5)-->
<!--0:-->
<!--id: 6953-->
<!--order_id: 5621-->
<!--price: 89-->
<!--product_id: 399-->
<!--product_image: "https://www.pharmaclouds.net/upload/product/e7d1225fd7c0c051a50340b6ed6a0103.png"-->
<!--product_name: "اوكتنياسان"-->
<!--product_name_en: "Octenisan"-->
<!--quantity: 2-->
<!--__proto__: Object-->
<!--1: {id: 6954, order_id: 5621, product_id: 379, product_name: "زن-10", product_name_en: "ZN-10", …}-->
<!--2: {id: 6955, order_id: 5621, product_id: 326, product_name: "كوكا", product_name_en: "CUCA", …}-->
<!--3: {id: 6956, order_id: 5621, product_id: 375, product_name: "ريفيل", product_name_en: "REVEAL", …}-->
<!--4: {id: 6957, order_id: 5621, product_id: 391, product_name: " بخاخ اكتنوسيبت 50 مل", product_name_en: "octenisept Spray 50 ml", …}-->
<!--length: 5-->
<!--__proto__: Array(0)-->
<!--region: "fff"-->
<!--shipping_cost: 28-->
<ion-content class="order-detail">

   <!-- single-cart -->
   <ion-item class="single-order" >


    <div class="content-cart">

      <h5 class="productName"> #{{all?.id}} </h5>
      <h6>{{lang.mainlang.orders.qnt}}:<span>{{all?.products?.length}}</span></h6>
      <h6>{{lang.mainlang.orders.Total}}:<span>SAR {{all?.full_total}}</span></h6>

<!--      <div class="state-order">-->
<!--        <span class="complete">Complete -->
<!--           <ion-icon name="radio-button-on"></ion-icon>-->
<!--        </span>-->
<!--      </div>-->
      <div class="state-order">
          <span class="processing">{{lang.mainlang.orders.ordered}}
             <ion-icon name="radio-button-on"></ion-icon>
          </span>
      </div>

  </div>
</ion-item>

<ion-list class="list-cart">

  <!-- single-cart -->
  <ion-item class="single-cart"  *ngFor="let x of all?.products">

      <ion-thumbnail slot="start">
          <img src="{{x.product_image}}">

      </ion-thumbnail>

      <div class="content-cart">

        <h5 class="productName"> {{x.product_name_en}} </h5>
        <h6>{{lang.mainlang.orders.qnt}}:<span>{{x.quantity}}</span></h6>
        <h5 class="productPrice">  SAR {{x.price}} </h5>

    </div>
  </ion-item>




</ion-list>



</ion-content>
