:host {
  ion-content {
    //--background:url(.././../../assets/img/bg-login.png) repeat 50% 70%;
  }
}
.logo{
  img{
    width: 60%;
    margin: 66px 20% 10px;
  }

}
.back{
  position: absolute;
  z-index:99;
  left:30px;
  top:30px
}
form{
  margin: 0 20px;
  .input-icon{
    border: 1px solid #6C757D;
    background-color: #fff;
    border-radius: 7px;
    display: inline-block;
    width: 100%;
    padding: 10px 10px 0;
    margin-top: 15px;
    img{
      width: 25px;
      float: left;
      margin-top: 9px;
      margin-right: 15px;
    }
    .input{
      width: 80%;
      float: left;
      ion-label{
        color:#6C757D
      }
      ion-input{
        --color:#444
      }
    }

  }
  .forget{
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 15px;

  }
  .submit{
    float: right;
  }
  .clearfix{
    clear:both
  }

  .social{
    text-align: center;

    h3{
      font-size: 13px;
      color:#6C757D
    }
    .social-icon{
      .facebook,.google{
        display: inline-block;
        margin: 5px 10px;
      }
    }
    p{
      color:#6C757D;
      font-size: 15px;
      span{
        color:#1B325E;
        font-weight: bold;
      }
    }
  }


  .error-message p{
    color: red;
    text-transform: capitalize;
  }
}
