<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button   (click)="back()"><img src="../../../assets/img/back@3x.png" width="20"></ion-button>
    </ion-buttons>
    <ion-title>
      {{lang.mainlang.adressadd.title}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="login">


  <form >




    <div class=" input-icon required">
      <img src="../../../assets/img/list-view-active@3x.png">
      <div class="input">
        <ion-label color="dark" position="floating"> {{lang.mainlang.adressadd.name}} </ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.address_first_name"  placeholder="{{lang.mainlang.adressadd.name}}"></ion-input>
      </div>

    </div>
    <div class=" input-icon required">
      <img src="../../../assets/img/list-view-active@3x.png">
      <div class="input">
        <ion-label color="dark" position="floating"> {{lang.mainlang.adressadd.address_address_1}} </ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.address"  placeholder="{{lang.mainlang.adressadd.address_address_1}}"></ion-input>
      </div>

    </div>

    <div class=" input-icon required">
      <img src="../../../assets/img/list-view-active@3x.png">
      <div class="input">
        <ion-label color="dark" position="floating"> {{lang.mainlang.adressadd.region}} </ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.region"  placeholder="{{lang.mainlang.adressadd.region}}"></ion-input>
      </div>
    </div>

    <div class=" input-icon required">
      <img src="../../../assets/img/list-view-active@3x.png">
      <div class="input">
        <ion-label color="dark" position="floating"> {{lang.mainlang.adressadd.country}} </ion-label>
<!--        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.country"  placeholder="{{lang.mainlang.adressadd.region}}"></ion-input>-->
     <ion-select [ngModelOptions]="{standalone: true}" [(ngModel)]="data.country_id"  placeholder="{{lang.mainlang.adressadd.country}}">
       <ion-select-option *ngFor="let x of counties" value="{{x.id}}">
         <span *ngIf="gloable.language_id == '2'">{{x.name_en}}</span>
         <span *ngIf="gloable.language_id == '1'">{{x.name}}</span>
       </ion-select-option>
     </ion-select>
      </div>
    </div>
    <div class=" input-icon required">
      <img src="../../../assets/img/list-view-active@3x.png">
      <div class="input">
        <ion-label color="dark" position="floating"> {{lang.mainlang.adressadd.address_city}} </ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.address_city"  placeholder="{{lang.mainlang.adressadd.address_city}}"></ion-input>
      </div>

    </div>
    <div class=" input-icon required">
      <img src="../../../assets/img/list-view-active@3x.png">
      <div class="input">
        <ion-label color="dark" position="floating"> {{lang.mainlang.adressadd.address_post_code}} </ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.address_post_code"  placeholder="{{lang.mainlang.adressadd.address_post_code}}"></ion-input>
      </div>

    </div>




    <div>

    </div>

    <!--<h6 class="forget" (click)="goToForgetPass()">Forgot Password ?</h6>-->

    <div class="clearfix"></div>
    <!-- button submit -->
    <ion-button color="primary" shape="round" class="submit" (click)="add()" [disabled]="">
      {{lang.mainlang.adressadd.addadress}}
    </ion-button>


    <div class="clearfix"></div>

    <div class="social">
      <!-- <h3><span>OR</span></h3>
      <div class="social-icon">
        <div class="facebook">
          <img src="../../../assets/img/facebook.png">
        </div>
        <div class="google">
          <img src="../../../assets/img/google.png">
        </div>

      </div> -->
<!--      <p class="register">{{lang.mainlang.register.loginfull}}? <span (click)="goToLogin()">{{lang.mainlang.register.login}}</span> {{lang.mainlang.register.now}}</p>-->

    </div>


    <!-- social -->



  </form>

</ion-content>
