.register{
  .back{
    margin: 17px 12px 0;
    display: inline-block;
    img{
      display: inline-block;
    }
    h5{
      margin: 1px 23px;
      font-size: 20px;
      color: #35549c;
      font-weight: bold;
      text-align: left;
      display: inline-block;
    }

  }

  .head{
    text-align: center;
    margin-top: 20px;

  }

  form{
    margin:0 20px;

    .img-phone{
      img{
        display: inline-block
      }
    }

    ion-item{
      --ion-item-background: transparent;
      margin-bottom: 10px;
    }


    .input{
      background-color: #fff;
      border-radius: 0;
      display: inline-block;
      width: 100%;
      padding: 2px;
      margin: 11px 0;
      margin-bottom: 5px;
      border-bottom: 1px solid #ddd;
      ion-label{
        color: #6C757D;
        text-transform: capitalize;
        font-size: 15px !important;

      }
      ion-input{
        --color:#444
      }
    }

    .forget{
      text-align: right;
      font-size: 12px;
      font-weight: bold;
      margin: 17px 0 40px;
      color: #585858;
      letter-spacing: 1px;
    }

    .clearfix{
      clear:both
    }

    .social{
      margin-top: 50px;
      text-align: center;

      h3{
        font-size: 13px;
        color:#6C757D
      }
      .social-icon{
        .facebook,.google{
          display: inline-block;
          margin: 5px 10px;
          background-color: #fff;
          border-radius: 10px;
          padding: 10px;
        }
        img{
          width: 35px;
        }
      }
      p{
        color:#6C757D;
        font-size: 15px;
        span{
          color:#1B325E;
          font-weight: bold;
        }
      }
    }


    label{
      font-size: 14px;
      color:#fff
    }

    ion-button.submit{
      margin: 30px 0 10px;
      text-transform: capitalize;
      font-size: 17px;
      color: whitesmoke;
      height: 48px;
      width:100%
      /* line-height: 32px; */
    }
    :host(.button-full:not(.button-round)) .button-native {
      border-radius: 1px!important;
    }


  }

  .form-en{
    .sc-ion-input-ios-h:not(.item-label), div:not(.item-label) .sc-ion-input-ios-h ,
    div.sc-ion-input-md-h:not(.item-label), div:not(.item-label) .sc-ion-input-md-h {
      --padding-start: 10px;
      // border: 1px solid #c3c1c1;
      // margin: 3px 0 10px;
      border-radius: 50px;
      font-size: 14px;
      text-align: left!important;
      // height: 45px;
      // line-height: 31px;
      // background-color: #f5f5f5
    }
  }
  .links-register p{
    font-size: 13px;
    text-align: center;
  }

  .bottom{
    margin-top: 0;
    text-align: center;
  }
  .clearfix{
    clear:both
  }
  .item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-focus.label-stacked.sc-ion-label-md-h, .item-has-focus .label-stacked.sc-ion-label-md-h {
    color: var(--ion-color-secondary,#FF7DB2);
  }
}

